# See https://help.github.com/articles/ignoring-files/ for more about ignoring files

# Python
**/quote/__pycache__/

# Django
db.sqlite3

# project notes
project_notes.txt

# txt, csv and json files containing quotes for website initiation
quotes.txt
quotes.csv
Quotes2.csv
quotes.json

# vs code settings
.vscode/

# Ignore .DS_Store files
**/.DS_Store

# virtual environment
venv/

