# Ignore project notes
project_notes.txt

# Ignore quotes text file
quotes.txt

# Ignore quotes CSV file
quotes.csv

# Ignore JSON files in quotes directory
quotes.json

# Ignore second quotes CSV file
Quotes2.csv

# .vscode settings
.vscode/settings.json