# Ignore project notes
project_notes.txt

# Ignore quotes text file
quotes.txt

# Ignore quotes CSV file
quotes.csv

# Ignore JSON files in quotes directory
quotes.json

# Ignore second quotes CSV file
Quotes2.csv

# Ignore .vscode settings
.vscode/settings.json

# Ignore .DS_Store files
**/.DS_Store

# Ignore virtual environment folder
venv/

# Ignore pycache folder
**/quote/__pycache__/