{% extends "quote/layout.html" %}
{% block body %}

    <h2>Categories</h2>
    <hr>

    <div class="container">
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="{% url 'category' category.name %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No categories found.</p>
        {% endif %}
    </div>

{% endblock %}