{% extends "quote/layout.html" %}

{% block body %}

    <h2>Quote Board</h2>
    <hr>

    <div class="container">
    <!-- <div class="container d-flex justify-content-between align-items-center"> -->

        <!-- Create a New Post -->
        {% if user.is_authenticated %}
            <div class="create-post-container">
                <a href="{% url 'post' %}" class="create-post-link">Create Post</a>
            </div>
            <br>
        {% endif %}

        <!-- Display all quotes -->
        {% for quote in page_obj %}
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <!-- User info -->
                        <div class="d-flex align-items-center mb-3 position-relative">
                            <!-- Profile Picture -->
                            {% if quote.user.userprofile.profile_picture %}
                                <img class="rounded-circle" src="{{ quote.user.userprofile.profile_picture.url }}" alt="User Profile Picture" style="width: 40px; height: 40px;">
                            {% else %}
                                <img class="rounded-circle" src="#" alt="User Profile Picture" style="width: 40px; height: 40px;">
                            {% endif %}
                            <!-- Username and timestamp -->
                            <div class="d-flex align-items-center ml-2">
                                <p class="text-muted small mr-2">Posted by <a href="{% url 'profile' quote.user.id %}">/{{ quote.user.username }}</a></p>
                                <p class="text-muted small">{{ quote.timestamp|timesince }} ago</p>
                            </div>
                            <!-- Follow/Unfollow user (AJAX)-->
                            {% if user != quote.user and user.is_authenticated %}
                                <div class="d-flex align-items-center position-absolute" style="right:0;">
                                    <p class="follow-count" id="follow-count-{{ quote.user.id }}" style="font-size: 0.8rem; margin-right: 10px; margin-top: 20px;">Followers: {{ quote.user.followers.count }}</p>
                                    {% if quote.user.id in following_users %}
                                        <button class="unfollow-button" id="unfollow-button-{{ quote.user.id }}" data-id="{{ quote.user.id }}">Unfollow</button>
                                    {% else %}
                                        <button class="follow-button" id="follow-button-{{ quote.user.id }}" data-id="{{ quote.user.id }}">Follow</button>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Quote info -->
                        <div class="media">
                            {% if quote.author.image %} 
                                <img class="mr-3" src="{{ quote.author.image.url }}" alt="Author Image" style="width: 150px; height: 150px; border-radius: 2px; object-fit: cover;">
                            {% else %}
                                <p>No image available</p>
                            {% endif %}
                            <div class="media-body">
                                <blockquote>
                                    <p class="text-quote" id="quote-content-{{quote.id}}">"{{ quote.text }}"</p>
                                    <!-- Edit link -->
                                    {% if user.is_authenticated and user == quote.user %}
                                        <a href="#" class="edit-link" id="edit-link-{{quote.id}}" data-id="{{quote.id}}">Edit</a>
                                    {% endif %}
                                    <a href="{% url 'author' quote.author.id %}"><footer>- {{ quote.author.name }}</footer></a>
                                </blockquote>
                                <br>
                                <p class="categories-text" style="font-size: 0.9em;">Categories:  
                                    {% for category in quote.categories.all|dictsort:"name" %}
                                        <a href="{% url 'category' category.name %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mb-3 position-relative"> 
                            {% if user.is_authenticated %}
                                <!-- Like Icon Font Awesome 5 - Heart (AJAX): fas fa-heart (heart is filled), far fa-heart (heart is void) -->
                                <button style="text-decoration: none;" class="btn btn-link like-btn" id="like-btn-{{quote.id}}" data-id="{{quote.id}}">
                                    <i id="like-icon-{{quote.id}}" class="like-icon {% if quote.id in liked_quotes %}fas fa-heart{% else %}far fa-heart{% endif %}"></i>
                                    <span id="like-count-{{quote.id}}" class="like-count">{{ quote.likes.count }}</span>
                                </button>
                                <!-- Comment Icon Font Awesome 5 - Comment Bubble (AJAX) -->
                                <button style="text-decoration: none;" class="btn btn-link comment-btn" id="comment-btn-{{quote.id}}" data-id="{{quote.id}}">
                                    <i id="comment-icon-{{quote.id}}" class="comment-icon {% if quote.id in commented_quotes %}fas fa-comment{% else %}far fa-comment{% endif %}"></i>
                                    <span id="comment-count-{{quote.id}}" class="comment-count">{{ quote.comments.count }}</span>
                                </button>
                                <!-- Bookmark Icon Font Awesome 5 (AJAX) -->
                                <button style="text-decoration: none;" class="btn btn-link bookmark-btn" id="bookmark-btn-{{quote.id}}" data-id="{{quote.id}}">
                                    <i id="bookmark-icon-{{quote.id}}" class="bookmark-icon {% if quote.id in bookmarked_quotes %}fas fa-bookmark{% else %}far fa-bookmark{% endif %}"></i>
                                </button>
                            {% endif %}
                        </div>

                        <!--  Hidden textarea and Post comment button view-->
                        <div class="post-comment" id="post-comment-{{quote.id}}">

                        </div>

                        <!-- Comment display view -->
                        <div class="comments-view" id="comments-view-{{quote.id}}" style="display: none">
                            {% if quote.comments.all %}
                                {% for comment in quote.comments.all %}
                                    <div class="d-flex align-items-center">
                                        <!-- Profile Picture -->
                                        {% if comment.user.userprofile.profile_picture %}
                                            <img class="rounded-circle" src="{{ comment.user.userprofile.profile_picture.url }}" alt="User Profile Picture" style="width: 40px; height: 40px;">
                                        {% else %}
                                            <img class="rounded-circle" src="#" alt="User Profile Picture" style="width: 40px; height: 40px;">
                                        {% endif %}
                                        <!-- Username and timestamp -->
                                        <div class="d-flex align-items-center ml-2">
                                            <p class="text-muted small mr-2">Posted by <a href="{% url 'profile' comment.user.id %}">/{{ comment.user.username }}</a></p>
                                            <p class="text-muted small">{{ comment.timestamp|timesince }} ago</p>
                                        </div>
                                    </div>
                                    <!-- Comment text -->
                                    <p class="comment-text" id="comment-text-{{quote.id}}">{{ comment.text }}</p>
                                {% endfor %}
                            {% else %}
                                <p class="comment-text">No comments.</p>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <hr>
        {% endfor %} 

        <!-- Pagination (Bootstrap template) -->
        {% if page_obj %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                        {% if page_obj.has_previous %}
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                        {% else %}
                            <span class="page-link">Previous</span>
                        {% endif %}
                    </li>
                    <!-- Iterate over the range of page numbers that are needed based on the number of posts -->
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_num %}
                            <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                        <!-- Limit the number of page links that are displayed to only the current page and the two adjacent pages -->
                        {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                        {% if page_obj.has_next %}
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        {% else %}
                            <span class="page-link">Next</span>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>

{% endblock %}