{% extends "quote/layout.html" %} 
{% block body %}

    <h2>Create a Post</h2>
    <hr>

    <div class="container">
        <!-- New Post: Form for users to post quotes including a quote, author (first & last name), tags, and category -->
        {% if user.is_authenticated %}
            <!-- <div class="card" data-test-id="post-container">
                <div class="card-body"> -->
                    <form action="{% url 'post' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Quote -->
                        <div class="form-group">
                            <textarea autofocus class="card-text" type="text" name="text" aria-placeholder="Quote" placeholder="Add Quote" required></textarea>
                        </div>
                        <!-- Author -->
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Author</span>
                            </div>
                            <input type="text" aria-label="Author's name" class="form-control" name="author" placeholder="Author's name" required>
                        </div>
                        <br>
                        <!-- Bio (optional)-->
                        <div class="form-group">
                            <textarea autofocus class="card-text" type="text" name="bio" aria-placeholder="Bio" placeholder="Add brief author bio (optional)"></textarea>
                        </div>
                        <!-- Upload Image of Author (optional) -->
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload Author Image</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" name="author_image" aria-describedby="inputGroupFileAddon01" onchange="updateLabel()">
                                <label class="custom-file-label" for="inputGroupFile01" placeholder="Choose File">Choose File</label>
                            </div>
                        </div>
                        <!-- Preview Image display -->
                        <img id="imagePreview" src="#" alt="Image Preview" style="display: none;">
                        <br>
                        <!-- Categories -->
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Categories</span>
                            </div>
                            <input type="text" aria-label="Categories" class="form-control" name="categories" placeholder="Insert multiple categories comma separated" required>
                        </div>
                        <br>
                        <!-- Submit Post -->
                        <input class="btn btn-primary" type="submit" value="Post">
                    </form>
                <!-- </div>
            </div> -->
            <br>
        {% endif %}
    </div>

    <script>
        function updateLabel() {
            var inputFile = document.getElementById('inputGroupFile01');
            var chosenFile = inputFile.files[0].name;
            var fileLabel = document.querySelector("label[for='inputGroupFile01']");
            fileLabel.innerHTML = chosenFile;

            // Image preview
            var imagePreview = document.getElementById('imagePreview');
            var reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }

            reader.readAsDataURL(inputFile.files[0]);
        }
    </script>

{% endblock %}