{% extends "quote/layout.html" %} 
{% block body %}

    <h2>Quote</h2>
    <hr>

    <div class="container d-flex justify-content-between align-items-center">
        <!-- Quote Post -->
        <div>
            <h3>{{ quote.quote }}</h3>
            <p>{{ quote.author }}</p>
            <p>{{ quote.date_posted }}</p>
            <p>{{ quote.category }}</p>
            <p>{{ quote.tags }}</p>
            <p>{{ quote.likes }}</p>
            <p>{{ quote.comments }}</p>
            <p>{{ quote.user }}</p>
    </div>

{% endblock %}
