/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.

html {
    font-family: sans-serif; // 1
    -ms-text-size-adjust: 100%; // 2
    -webkit-text-size-adjust: 100%; // 2
}
*/

body {
    /* Light theme */
    background-color: white;
    color: black;
    margin: 0;
    align-items: center;    /* Vertically center the content if the row's height is greater than the content's height */
    min-height: 100vh;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        /* Dark theme */
        background-color: black;
        color: white;
        margin: 0;
        align-items: center;
        min-height: 100vh;
        width: 100%;
    }
}

body.dark-theme {
    /* Dark theme */
    background-color: black;
    color: #f0f0f0;
    margin: 0;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

h2 {
    margin: 20px 20px;
    text-align: center;
}

/* .body {
    width: 100%;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 20px auto;
}

/*
.container-fluid {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 1248px; 
}
*/


/* Navbar */
.navbar {
    background-color: rgb(26, 26, 27) !important;
}

.navbar-toggler {
    font-size: 0.8em;
    /* background-color: rgb(26, 26, 27); */
}

.nav-link {
    font-size: 0.9em;
}


/* Search bar */
.search-bar {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(39, 39, 41);
    border: 0.5px solid whitesmoke;
    transition: border 0.1s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 5px 10px;
    margin: 0 auto;
    color:#f0f0f0
}

.search-bar:hover {
    border: 1.5px solid whitesmoke;
}

.search-bar::placeholder {
    font-size: 0.8em;
    color: #ccc;
}


/* Row container */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 27);
    border: 0.5px solid whitesmoke;
    transition: border 0.1s ease;
    border-radius: 10px;  /* Rounds the edges */
    width: 80%;
    margin: 0 auto 20px auto;  /* auto for left & right margin centers the div */
}

.row:hover {
    border: 1.5px solid whitesmoke;
}


/* Profile view */
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.profile-links-view {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 50px;
}

.profile-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 10px; */
}

/* User info table on profile page */
.user-info-table {
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    color: #777;
    margin: 0 auto 20px auto;
}

.posts-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 20px auto;
}


/* Update profile view */
.update-profile-container {
    display: flex;
    justify-content: center;
}

.update-profile-link {
    margin: 0px 0px;
    padding: 0px 0px;
}


/* Follow/Unfollow buttons */
.follow-button, .unfollow-button {
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    margin: 3px 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.follow-button:hover, .unfollow-button:hover {
    background-color: #0056b3;
}


/* Card view */
.card {
    width: 95%;
    background-color: rgb(26, 26, 27);
    border-radius: 10px;  /* Rounds the edges */
}

/* when mouse hovers over entire card container */
.card:hover {
    background-color: rgb(26, 26, 27);
}

.card-title {
    color: whitesmoke;
}

.card-body {
    padding: 1.0rem;
}

.card-text {
    background-color: rgb(26, 26, 27);
    color: whitesmoke;
}

.card-text:hover {
    background-color: rgb(21, 21, 22);
    color: whitesmoke;
}


/* Form view */
.form-group {
    /* padding: 0.5rem; */
    width: 100%;
}

.form-group textarea {
    height: 100px;
    width: 100%;
}

.form-control {
    background-color: rgb(26, 26, 27);
    color: whitesmoke;
}

.form-control:hover {
    background-color: rgb(21, 21, 22);
    color: white;
}

/* when mouse hovers over form-control and is focused */
.form-control:focus {
    background-color: rgb(26, 26, 27);
    color: white;
}


.input-group-text {
    background-color: rgb(57, 55, 55);
    color: rgb(235, 225, 225);
}

.custom-file {
    background-color: rgb(26, 26, 27);
    color: white;
}

.custom-file-label {
    background-color: rgb(26, 26, 27);
    color: white;
}

.custom-file-label:hover {
    background-color: rgb(21, 21, 22);
    color: white;
}

.custom-file-label::before {
    color: red;
}


/* Create post container and link */
.create-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: 90%;
    height: 50px;
}

.create-post-link {
    display: block;
    width: 50%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #f0f0f0;
    background-color: rgb(26, 26, 27);
    text-decoration: none;
    transition: border 0.1s ease;
    align-items: center;
}

.create-post-link:hover {
    border: 1.5px solid whitesmoke;
    background-color: black;
}


/* Author container */
.author-container {
    display: flex;
    align-items: start;
    margin-bottom: 50px;
}

.author-image {
    border-radius: 10px;
    margin-right: 50px;
}

.author-bio {
    flex-grow: 1;
}


/* Styled Save button to look like class=btn btn-primary */
.btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 3px 3px;
    cursor: pointer;
}


/* Like Button */
.like-btn {
    border: none;
    background-color: transparent;
    color: #dc3545;
    font-size: 1.5rem;
    cursor: pointer;
}

.like-btn:hover #like-icon {
    color: red;
}

.like-btn:hover {
    color: #c82333;
}

.like-btn:focus {
    outline: none;
}

.like-btn .fas {
    transition: transform 0.2s ease-in-out;
}

.like-btn .fas:hover {
    transform: scale(1.2);
}

.like-icon {
    font-size: 18px;
}

.like-count {
    font-size: 18px;
}


option.light-gray {
    color: lightgray;
}

.timestamp {
    color: grey;
    font-size: 12px;
}